*{
    margin: 0;
    padding: 0;
}


// 主体
.mn{
    background-color: sandybrown;
}

// 头部小导航栏
.minTop{
    height: 40px;
    background-color: #757575;
    .minTopft{
        background-color: aqua;
        .time{
            
        }
    }
}

// 头部大导航栏
.maxTop{

}