
// model1
.munchild_appreciate{
    background-color: sandybrown;
    height: 300px;
    
}

// model_2
.munchild_product_list{
    background-color: seagreen;
    height: 300px;
}

// model_3
.munchild_flashSale{
    background-color: sandybrown;
    height: 300px;
    
}

// model1
.munchild_appreciate{
    background-color: sandybrown;
    height: 300px;
    
}