
// model_1
.munchild_appreciate{
    background-color: sandybrown;
    height: 300px;
    display: flex;
    jus
    .imgft{

    }
    .imgrt{

    }
}

// model_2
.munchild_product_list{
    background-color: seagreen;
    height: 300px;
}

// model_3
.munchild_flashSale{
    background-color: sandybrown;
    height: 300px;
    
}

// model_4
.munchild_appreciate2{
    background-color:skyblue;
    height: 300px;
    
}
// model_5
.munchild_decorate_list{
    background-color: sandybrown;
    height: 300px;
    
}

// model_6
.munchild_appreciate3{
    background-color:skyblue;
    height: 300px;
    
}